* {
    /* background-color: rgba(0,0,0,.9); */
    /* 以下三句以border-box形式定义box的尺寸问题，相对计算比较简单 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*以下5句增加粘滞感，使更柔和*/
    e-webkit-transition: background .2s; 
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s;
    outline: 0;			/*去蓝边*/
}
body {
    background-color: #00484b;
    color: #fff;
}
.container {
    max-width: 700px;
    margin:0 auto;		/*居中*/
    position: relative;
    padding: 0 10px;
}
h1 {
    text-align: center;
}
input,
.task-item,
button,
.task-detail,
.task-detail-mask,
textarea {
    border-radius: 3px;
    padding: 10px;
}
/*限定input的类型不包括task-item*/
textarea,
input[type=text], input[type=date] {
    border: 0;
    display: block;
    width: 100%;
    background-color: #FFF;
    /* 以下3行加内阴影 */
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
}
textarea {
    min-height: 100px;
    margin-bottom: 10px;
}
textarea:hover,
textarea:focus,
input[type=text]:hover,
input[type=text]:focus,
input[type=date]:hover,
input[type=date]:focus {
    background-color: #EEE;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
}
.task-list {
    margin: 10px 0;
}
.fr {
    float: right;
}
button{
    display: inline-block;
    cursor: pointer;
    border: 0;
    color: #333;		/*使与背景颜色更协调*/
}
.add-task input[type=text] {
    float: left;
    width: 84%;
    margin-right: 1%;
}
[type=submit] {
    background-color: #12989e;
}
.add-task [type=submit] {
    width: 15%;
}
.add-task [type=submit]:hover {
    background-color: #5ab1b5;
}
.task-item {
    padding: 10px;
    background-color: #fff;
    color: #333;
    margin-bottom: 2px;
    border-radius: 3px;		/*加圆角*/
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.4); /*以下三句加阴影*/
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.4);
    box-shadow: 0 2px 3px rgba(0,0,0,.4);
    cursor: pointer;		/*悬浮时呈手状，暗示可点击*/
}
.task-item.completed {
    color: #aaa;
    /* background: rgba(255,255,255,0.7); */
    opacity: 0.4;
}
.task-item.completed:after {
    content: "";
    height: 1px;
    background: #aaa;
    width: 96%;			/*留出checkbox，防止誤操作*/
    position: relative;
    top: -9px;
    display: block;
    float: right;
}
.task-item:hover {
    background-color: #DDD;
}
.task-detail,
.task-detail-mask {
    position: absolute;
    display: none;		/*初始不显示*/
}
/* 任务详情相对与container定位 */
.task-detail {
    bottom: 0;
    overflow: auto;		/*防止item太少時detail太矮*/
    right: 0;
    color: #333;
    width: 50%;
    height: 100%;
    background-color: #FFF;
    padding: 10px;
    border-radius: 3px 0 0 3px;	/*右邊沒有弧度，剪切的效果*/
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.1);
}
.task-detail .content {
    padding: 10px;
    font-weight: 900;		/*加粗*/
    cursor: pointer;
}
.task-detail .input-item {
    margin-bottom: 5px;
}
.task-detail-mask {
    position: fixed;		/*作用到整個頁面，而不只是母元素*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(30,30,30,.6);
}
.task-content {
    margin-left: 10px;
}
.action {
    color: #888;
    font-size: 90%;
}
.action:hover {
    color: #333;
}
.msg {
    display: none;
    text-align: center;
    background: #eac212;
    padding: 10px;
    color: #333;
}
.anchor {
    cursor: pointer;
}
.alert {
    width: 0;
    height: 0;
}

